.flex-center {
    justify-content: center;
}

.textField {
    width: 300px;
}
.textField label {
    color: white;
}

.textField .MuiInput-underline:after{
    border-bottom: 2px solid greenyellow;
}

.textField label.Mui-focused {
    color: greenyellow;
}

.textField label {
    color: gold;
}

.textField input {
    color: white;
}

.row {
    display: inline-flex;
    padding: 10px 0px;
}

.formControl {
    min-width: 120px;
    max-width: 300px;
}

.chips {
    display: flex;
    flex-wrap: wrap;
}

.chip {
    margin: 2px
}
